<!-- ======= mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="/assets/img/profile-img.jpeg" alt="{{ site.title }}" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">{{ site.title }}</a></h1>
            <div class="social-links mt-3 text-center">
                {% assign filtered_social_links_footer = site.social-network-links %}
                {% for social in filtered_social_links_footer %}
                <a href="{{ social.url }}" title="{{ social.name }}" target="_blank"><i class="{{ social.icon }}"></i></a>
                {% endfor %}
            </div>
        </div>
        {% include navbar.html %}
    </div>
</header><!-- End Header -->