<nav id="navbar" class="nav-menu navbar">
    <ul>
        <li><a href="{{ '/#hero' | relative_url }}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="{{ '/#sobre' | relative_url }}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
        <li><a href="{{ '/#questionarios' | relative_url }}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Questionários</span></a></li>
        <li><a href="{{ '/#contato' | relative_url }}" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contato</span></a>
        </li>
    </ul>
</nav>