<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Alvaro Wisky",
  "jobTitle": "Fisioterapeuta, Acupunturista e Psicanalista",
  "url": "https://alvarowisky.github.io",
  "image": "https://alvarowisky.github.io/assets/img/profile-img.jpeg",
  "email": "alvarowisky@hotmail.com",
  "telephone": "+55-11-99260-3015",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "R. Vinte e Um de Abril, 180",
    "addressLocality": "São Bernardo do Campo",
    "addressRegion": "SP",
    "postalCode": "09625-070",
    "addressCountry": "BR"
  },
  "sameAs": [
    "https://www.linkedin.com/in/alvaro-wisky/",
    "https://www.instagram.com/alvarowisky/"
  ],
  "knowsAbout": [
    "Fisioterapia",
    "Acupuntura",
    "Psicanálise",
    "Medicina Tradicional Chinesa",
    "Psicologia Clínica",
    "Psicoterapia"
  ],
  "alumniOf": [
    {
      "@type": "EducationalOrganization",
      "name": "Universidade Metodista do Estado de São Paulo"
    },
    {
      "@type": "EducationalOrganization",
      "name": "Centro Universitário São Camilo"
    },
    {
      "@type": "EducationalOrganization",
      "name": "Escola de psicanálise de Curitiba"
    }
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MedicalBusiness",
  "name": "Alvaro Wisky - Consultório",
  "description": "Atendimento psicanalítico individual, terapia para casais, acompanhamento de adolescentes, fisioterapia e acupuntura",
  "url": "https://alvarowisky.github.io",
  "image": "https://alvarowisky.github.io/assets/img/profile-img.jpeg",
  "telephone": "+55-11-99260-3015",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "R. Vinte e Um de Abril, 180 - Rudge Ramos",
    "addressLocality": "São Bernardo do Campo",
    "addressRegion": "SP",
    "postalCode": "09625-070",
    "addressCountry": "BR"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "-23.66075506525309",
    "longitude": "-46.56944232373618"
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "opens": "09:00",
    "closes": "18:00"
  },
  "medicalSpecialty": [
    "Fisioterapia",
    "Acupuntura",
    "Psicanálise"
  ],
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Serviços e Atendimentos",
    "itemListElement": [
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Atendimento Psicanalítico Individual",
          "description": "Sessões confidenciais e personalizadas para autoconhecimento e equilíbrio emocional"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Acompanhamento de Adolescentes",
          "description": "Cuidado emocional na fase de desenvolvimento e descobertas"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Terapia para Casais",
          "description": "Fortaleça seu relacionamento com escuta e diálogo orientados pela psicanálise"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Sessões de Autoconhecimento",
          "description": "Entenda padrões emocionais e comportamentais com apoio psicanalítico"
        }
      }
    ]
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Alvaro Wisky",
  "url": "https://alvarowisky.github.io",
  "description": "Atendimento psicanalítico individual, terapia para casais, acompanhamento de adolescentes e sessões de autoconhecimento. Fisioterapia e acupuntura em São Bernardo do Campo.",
  "inLanguage": "pt-BR",
  "author": {
    "@type": "Person",
    "name": "Alvaro Wisky"
  }
}
</script>

