body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
}

a {
	color: #29669C;
	text-decoration: none;

	&:hover {
		color: #4A7DA3;
		text-decoration: none;
	}
}

p {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}