.quizzes {
    .quiz-arquetipos {
        color: #173b6c;

        .bg-image {
            min-height: 350px;
            margin: 10px 0;
            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/assets/img/arquetipos.jpg') no-repeat center center / cover;
        }

        &:hover {
            .bg-image {
                background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/img/arquetipos.jpg') no-repeat center center / cover;
            }
        }
    }

    .quiz-temperamentos {
        color: #173b6c;

        .bg-image {
            min-height: 350px;
            margin: 10px 0;
            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/assets/img/temperamentos.jpg') no-repeat center center / cover;
        }

        &:hover {
            .bg-image {
                background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/img/temperamentos.jpg') no-repeat center center / cover;
            }
        }
    }
}

.quiz-form {
    padding: 30px;
    box-shadow: 0 0 24px 0 rgba(5, 13, 24, 0.08);

    .form-group {
        padding-bottom: 8px;
        margin-bottom: 15px;
    }

    .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;

        &:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #18d26e;
            border-top-color: #eee;
            animation: animate-loading 1s linear infinite;
        }
    }

    button[type=submit] {
        background: #149ddd;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;

        &:hover {
            background: #37b3ed;
        }
    }
}

.quiz-table {
    padding: 30px;
    box-shadow: 0 0 24px 0 rgba(5, 13, 24, 0.08);
}