.quiz-tips {
    h2 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.quizzes {
    .quiz-temperamentos {
        color: #29669C;

        .bg-image {
            min-height: 350px;
            margin: 10px 0;
            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/assets/img/temperamentos.jpg') no-repeat center center / cover;
        }

        &:hover {
            .bg-image {
                background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/img/temperamentos.jpg') no-repeat center center / cover;
            }
        }
    }

    .quiz-personalidades {
        color: #29669C;

        .bg-image {
            min-height: 350px;
            margin: 10px 0;
            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/assets/img/personalidades.jpeg') no-repeat center center / cover;
        }

        &:hover {
            .bg-image {
                background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/img/personalidades.jpeg') no-repeat center center / cover;
            }
        }
    }
}

.quiz-form {
    padding: 30px;
    box-shadow: 0 0 24px 0 rgba(5, 13, 24, 0.08);

    .form-group {
        padding-bottom: 8px;
        margin-bottom: 15px;
    }

    .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;

        &:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #18d26e;
            border-top-color: #eee;
            animation: animate-loading 1s linear infinite;
        }
    }

    button[type=submit] {
        background: #29669C;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;

        &:hover {
            background: #4A7DA3;
        }
    }
}

.quiz-table {
    padding: 30px;
    box-shadow: 0 0 24px 0 rgba(5, 13, 24, 0.08);

    span.green {
      color: #4CAF50;
      font-weight: bold;
    }

    span.yellow {
      color: #FBC02D;
      font-weight: bold;
    }

    span.red {
      color: #F44336;
      font-weight: bold;
    }

    span.lime {
      color: #CDDC39;
      font-weight: bold;
    }

    span.gray {
      color: #9E9E9E;
      font-weight: bold;
    }
}