---
layout: default
---

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Alvaro Wisky</h1>
        <p>Atendimento em <span class="typed" data-typed-items="Fisioterapia, Acupuntura, Psicanálise"></span></p>
    </div>
</section>

<main id="main">
    {% include sections/about.html %}
    {% include sections/quiz.html %}
    {% include sections/download.html %}
    {% include sections/contact.html %}
</main>
